apiVersion: v1
items:
- apiVersion: rbac.authorization.k8s.io/v1
  kind: ClusterRole
  metadata:
    labels:
      app.kubernetes.io/component: operator
      app.kubernetes.io/name: kube-cockroachdb
    name: kube-cockroachdb
    namespace: kube-cockroachdb
  rules:
  - apiGroups:
    - metalmatze.de
    resources:
    - cockroachdbs
    verbs:
    - create
    - delete
    - get
    - list
    - patch
    - update
    - watch
  - apiGroups:
    - metalmatze.de
    resources:
    - cockroachdbs/status
    verbs:
    - get
    - patch
    - update
  - apiGroups:
    - ""
    resources:
    - services
    verbs:
    - list
    - watch
    - get
    - create
    - update
  - apiGroups:
    - ""
    resources:
    - pods
    verbs:
    - get
  - apiGroups:
    - ""
    resources:
    - pods/exec
    verbs:
    - create
  - apiGroups:
    - apps
    resources:
    - statefulsets
    verbs:
    - list
    - watch
    - get
    - create
    - update
  - apiGroups:
    - policy
    resources:
    - poddisruptionbudgets
    verbs:
    - list
    - watch
  - apiGroups:
    - monitoring.coreos.com
    resources:
    - servicemonitors
    verbs:
    - list
    - watch
    - get
    - create
    - update
- apiVersion: rbac.authorization.k8s.io/v1
  kind: ClusterRoleBinding
  metadata:
    labels:
      app.kubernetes.io/component: operator
      app.kubernetes.io/name: kube-cockroachdb
    name: kube-cockroachdb
    namespace: kube-cockroachdb
  roleRef:
    apiGroup: rbac.authorization.k8s.io
    kind: ClusterRole
    name: kube-cockroachdb
  subjects:
  - kind: ServiceAccount
    name: kube-cockroachdb
    namespace: kube-cockroachdb
- apiVersion: apps/v1
  kind: Deployment
  metadata:
    labels:
      app.kubernetes.io/component: operator
      app.kubernetes.io/name: kube-cockroachdb
    name: kube-cockroachdb
    namespace: kube-cockroachdb
  spec:
    selector:
      matchLabels:
        app.kubernetes.io/component: operator
        app.kubernetes.io/name: kube-cockroachdb
    template:
      metadata:
        labels:
          app.kubernetes.io/component: operator
          app.kubernetes.io/name: kube-cockroachdb
      spec:
        containers:
        - args:
          - --jsonnet.main=main.jsonnet
          - --trigger.config=config.yaml
          image: quay.io/metalmatze/kube-cockroachdb
          imagePullPolicy: Always
          name: kube-cockroachdb
        serviceAccountName: kube-cockroachdb
- apiVersion: v1
  kind: ServiceAccount
  metadata:
    labels:
      app.kubernetes.io/component: operator
      app.kubernetes.io/name: kube-cockroachdb
    name: kube-cockroachdb
    namespace: kube-cockroachdb
kind: List
